{% extends 'base.html' %}

{% load static %}


 {% block body %}
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
        <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %}
                    {{ form.email.errors }}
                {% endif %}
                    <p>{{ form.email }}</p>
                    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
        </form>
    </div>
  </main>
  <!--Main layout-->
  {% endblock body %}